@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="list-group">
    <a asp-action="Index" asp-controller="Poupanca" class="list-group-item list-group-item-action">Gerenciar Cadastro de Conta Poupança</a>

</div>


<div class="list-group">
    <a asp-action="Index" asp-controller="Operacoes" class="list-group-item list-group-item-action">Operações de Conta Poupança</a>

</div>
