@model AplicacaoPoupanca.Models.CorrecaoViewModel

@{
    ViewData["Title"] = "Aplicar Correção";
}

<h2>Aplicar Correção</h2>

<form  asp-action="AplicarCorrecao">
    <input type="hidden" asp-for="PoupancaId" />
    <div class="form-group">
        <label asp-for="Taxa" class="control-label"></label>
        <input asp-for="Taxa" class="form-control" />
        <span asp-validation-for="Taxa" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Aplicar Correção</button>
</form>
    