

@model AplicacaoPoupanca.Models.SacarViewModel

@{
    ViewData["Title"] = "Sacar";
}
<h2>Sacar</h2>

<form asp-action="Sacar">
    <input type="hidden" asp-for="PoupancaId" />
    <div class="form-group">
        <label asp-for="Valor" class="controllabel"></label>
        <input asp-for="Valor" class="form-control" />
        <span asp-validation-for="Valor" class="text-danger"></span>

    </div>
    <button type="submit" class="btn btn-primary">Sacar</button>
</form>